<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490390686591-stjhlo9s9icisk3qlklkheu4n5loitsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490390686591-stjhlo9s9icisk3qlklkheu4n5loitsv</string>
	<key>API_KEY</key>
	<string>AIzaSyAQjS0Ovwem9gYkQpMHMHD9kuBMV-iRC4k</string>
	<key>GCM_SENDER_ID</key>
	<string>490390686591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.immix.recipeat</string>
	<key>PROJECT_ID</key>
	<string>recipeat-1d425</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeat-1d425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490390686591:ios:8bfd2495d14c07ec78684a</string>
	<key>DATABASE_URL</key>
	<string>https://recipeat-1d425.firebaseio.com</string>
</dict>
</plist>